<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Add Anime</title>
	</head>
	<body>
		<h1>Add Anime</h1>

		<form action="/add-anime" method="POST">
			<div>
				<label for="">Name</label>
				<input type="text" name="name" id="" required />
			</div>
			<div>
				<label for="">Image</label>
				<input type="text" name="image" id="" required />
			</div>
			<div>
				<label for="">Description</label>
				<input type="text" name="description" id="" required />
			</div>
			<div>
				<button type="submit">Add Anime</button>
			</div>
		</form>
	</body>
</html>
